body{
    font-family: Georgia;
    margin: 0;
	text-align: center;
    background: rgba(225,231,240,255);
}
section{
    color: darkslategrey;
    padding: 12px;
}
hr{
	width: 90%;
    height: 1px;
    background-color: rgb(243, 237, 237);
    border: 0 none;
}
p{
	margin:0;
	line-height: 25px;
}
h3{
	font-weight: normal;
}
.color-grey{
	color:grey;
}
.text-white{
	color:white;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.main{
	/* margin-bottom:50px; */
}
.flex-wrap {
    flex-wrap: wrap;
}
.row {
	display: flex;
}
.card {
    position: relative;
    height: 100%;
}
.skill-card{
    position: relative;
}
.card-header{
	padding: 25px 0px;
	background-color: #3d3c3c;
	border: 1px solid transparent;
}
.card-footer{
	padding: 10px 0px;
	background-color:#f8744c;
	color:white;
}
.section-5 {
    width: 19%;
    margin: 0 auto;
	margin-top:10px;
    position: relative;
	cursor:pointer;
}
.section-5:hover .card-header{
	background-color:whitesmoke;
	border:1px solid grey;
	overflow: hidden;   
	color:black;
}
.section-3 {
    box-shadow: 3px 0px 2px 1px lightgrey;
    width: 25%;
    padding: 5px;
    margin: 1px auto;
    position: relative;
	cursor:pointer;
    background-color: white;
}
.section-3:hover .card-footer{
	background-color:#ffd55c;
	color:black;
}
.section-2 {
    width: 70%;
    padding: 5px;
    margin: 1px auto;
    position: relative;
	cursor:pointer;
    background-color: white;
}
.home-buttons{
	background-color:#f8744c;	
	color:white;
}
.mt-7{
	margin-top:7px;
}
.mrg-5{
	margin:5px;
}
.mt-20{
	margin-top:20px
}
.arrow-o{
	width: 15px;
    height: 15px;
    line-height: 13px;
    border-radius: 50%;
	border: 3px solid;
	display: inline-block;
	font-weight: bold;
}
.profile{
    border-radius: 100%;
    width: 30%;
}
.linkedin{
    text-decoration: none;
    background: #0075b5;
    font: white;
    border-radius: 3px;
    padding: 6px;
    width: 35%;
    margin: 5px auto;
}
.linkedin-link{
    text-decoration: none;
    color: white;
}
.name{
    font-weight: 700;
}
.skill{
    background: #3c807e;
    padding: 5px;
    color: white;
    border-radius: 3px;
    margin: 0.5%;
}
.skill-category{
    margin: 3px auto;
}
.skill-pink{
    background-color: #d29fa6;
}
.skill-other{
    background-color: #edc1a1;
}
.download{
    margin: inherit;
}

/* Media Queries */
@media only screen and (max-width: 1000px) {
	.section-3 {
		width: 100%;
		padding: 2px 20px;
        margin: 11px auto;
	}
	.section-2 {
		width: 100%; 
	}
	.section-5 {
		width: 38%;
	}	
}